<h1><%= course.course_name  %></h1>
<section>
    <h2>Edit Activities: </h2>
    <ul>
        <% activities.forEach(activity => { %>
            <li><a href="/activity/edit/<%= activity.id  %>"><%= activity.name  %></a></li>
        <% }) %>
    </ul>
    <a class="big-button" href="/activity/create/<%= course.course_id %>">Create New Activity</a>
</section>
<section>
    <h2>Students</h2>
    <ul>
        <% students.forEach(student => { %>
            <li><a href="/student/profile/<%= student.id  %>"><%= student.given_names  %> <%= student.last_name  %></a></li>
        <% }) %>
    </ul>
</section>