<h1><%= activity.name %></h1>
<% if (sectionId != -1){ %>
    <% if (activity.details.sections?.length > sectionId) {%>
        <p><%= activity.details.sections[sectionId].question %></p>
        <form action="/activity/view/<%= activity.id %>/<%= sectionId %>" method="post">
            <% activity.details.sections[sectionId].answers.forEach((answer,i) => { %>
                <label for="<%= i %>"><%= answer %></label>
                <input type="radio" name="answer" id="answer" value="<%= i %>">
            <%}) %>
            <button href="" class="big-button">Go to Next Section </button>
        </form>
    <% } else { %>
        <p>Sections Completed</p>
        <a href="/" class="big-button">Leave</a>
    <%} %>
<% }else{ %>
    <p><%= activity.description  %></p>
    <a href="/activity/view/<%= activity.id %>/0" class="big-button">Start Activity</a>
<% } %>