<h1>Welcome <%= userInfo?.given_names %>!</h1>
<section>
  <h2>Upcoming Activities</h2>
  <ul>
    <% activities?.forEach(a => { %>
      <% if (a.completed == null || (a.completed != null && !a.completed)) { %>
      <li><a href="activity/view/<%= a.id %>"><%= a.course_name  %>: <%= a.name  %></a></li>
      <% } %>
    <% }) %>
  </ul>
</section>
<section>
  <h2>Classes</h2>
  <ul>
    <% classes?.forEach(c => { %>
      <li><a href="class/view/<%= c.id %>"><%= c.course_name  %></a></li>
    <% }) %>
    <br>
    <a class="big-button" href="/class/add">Add Course</a>
  </ul>
</section>
